  body {
    background-color: #DDDAD9;
    color: black;

  }
 #display {
   display: grid;
   grid-template-columns: ;
   background-color: #852B17;
   opacity: 90%;
 }



.space {
  text-align: center;
  border: 2px solid black;
  padding: 35%;
}
#title {
  text-align: center;
  font-size: 100px;
  text-decoration: underline;
  text-shadow: 8px 6px grey;
  bac
}

#endMessage {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 4px grey;
  padding-top: 15px;
}

#buttons {
  margin: 15px;
  text-align: center;
}
